body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 100%;
  margin: 50px 0;

}

.btn {
  margin: 0;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}


.green {
  background-color: green;
  font-size: 4rem;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
