.stone{
  color:azure;
}

.bg {
  width: 500px;
  height: 500px;
  background-color: #3A6AF0;
  margin: 0 auto;
  /* box-sizing:border-box; */
}

.board {
  width: 80%;
  height: 65%;
  background-color: #DE7424;
  margin: 25% 10% 10%;
  position: relative;
}

.boardContainer {
  /* border:5px solid #DE7622; */
  width: 360px;
  height: 300px;
  /* padding:5%; */
  background-color:#DE7622;
  margin:5% auto 5%;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-150px;
  margin-left:-180px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  width: 100%;
  height:90px;
  display: flex;
  justify-content:space-between;
}

.item {
  background-color: #FAF4F4;
  color:#DE7622;
  width:100px;
  height:80px;
}
.itemActivate{
  background-color: #F9CD8C;
}

